<% if user_signed_in? %>
    <table class="table table-hover table-striped">
      <thead class="thead-dark">
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Twitter</th>
          <th>Remove</th>
        </tr>
      </thead>

      <tbody>
        <% @friends.each do |friend| %>
          <% if friend.user == current_user %>
            <tr>
              <td><%= link_to friend.first_name + ' '+friend.last_name, friend %>
              <td><%= friend.email %></td>
              <td><%= friend.phone %></td>
              <td><%= friend.twitter %></td>
              <td><%= link_to 'X',friend, method: :delete, data: { confirm: 'Are you sure?' }, class: "text-danger text-center" %></td>
            </tr>
          <%end%>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Friend', new_friend_path, class: "btn btn-secondary" %>
<% else %>
  <div class="jumbotron text-danger text-center">
  <h1>Please <strong><%= link_to 'Login', new_user_session_path %></strong> to see your Friends list </h1>
  </div>
<% end %>